/**
 * Well styled list
 *
 */
.well-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    padding: 10px 15px;
    min-height: 20px;
    border-bottom: 1px solid $list-border-light;
    border-bottom: 1px solid $list-border;

    &::after {
      content: " ";
      display: table;
      clear: both;
    }

    &.disabled {
      color: $list-text-disabled-color;
    }

    &.unstyled {
      &:hover {
        background: none;
      }
    }

    &.warning-row {
      background-color: $list-warning-row-bg;
      border-color: $list-warning-row-border;
      color: $list-warning-row-color;
    }

    &.smoke { background-color: $gray-light; }

    &:not(.ui-sort-disabled):hover {
      background: $row-hover;
    }

    &:last-child {
      border-bottom: none;

      &.bottom {
        background: $gray-light;
      }
    }

    .list-item-name {
      float: left;
      position: relative;
      top: 3px;
    }

    p {
      padding-top: 1px;
      margin: 0;
      color: $white-normal;

      img {
        position: relative;
        top: 3px;
      }
    }

    .well-title {
      font-size: $list-font-size;
      line-height: 18px;
    }
  }
}


/** light list with border-bottom between li **/
ul.bordered-list,
ul.unstyled-list {
  @include basic-list;

  &.top-list {
    li:first-child {
      padding-top: 0;

      h4,
      h5 {
        margin-top: 0;
      }
    }
  }
}

ul.unstyled-list > li {
  border-bottom: none;
}

ul.task-list {
  li.task-list-item {
    list-style-type: none;
  }

  ul:not(.task-list) {
    padding-left: 1.3em;
  }
}

// Generic content list
ul.content-list {
  @include basic-list;
  margin: 0;
  padding: 0;

  li {
    border-color: $white-normal;
    font-size: $list-font-size;
    color: $list-text-color;

    &.no-description {
      .title {
        line-height: $list-text-height;
      }
    }

    .title {
      font-weight: 600;
    }

    a {
      color: $gl-dark-link-color;
    }

    .member-group-link {
      color: $blue-normal;
    }

    .description {
      p {
        @include str-truncated;
        margin-bottom: 0;
      }
    }

    .controls {
      float: right;

      > .control-text {
        margin-right: $gl-padding-top;
        line-height: $list-text-height;

        &:last-child {
          margin-right: 0;
        }
      }

      > .btn,
      > .btn-group {
        margin-right: $gl-padding-top;
        display: inline-block;
        margin-top: 3px;
        margin-bottom: 4px;

        &:last-child {
          margin-right: 0;
        }
      }

      .no-comments {
        opacity: .5;
      }
    }

    .member-controls {
      float: none;

      @media (min-width: $screen-sm-min) {
        float: right;
      }
    }

    // When dragging a list item
    &.ui-sortable-helper {
      border-bottom: none;
    }

    &.list-placeholder {
      background-color: $gray-light;
      border: dotted 1px $white-normal;
      margin: 1px 0;
      min-height: 52px;
    }
  }
}

// Content list using flexbox
.flex-list {
  .flex-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .row-main-content {
    flex: 1 1 auto;
    overflow: hidden;
    padding-right: 8px;
  }

  .row-fixed-content {
    flex: 0 0 auto;
    margin-left: auto;
  }

  .row-title {
    font-weight: 600;
  }

  .row-second-line {
    display: block;
  }

  .dropdown {
    .btn-block {
      margin-bottom: 0;
      line-height: inherit;
    }
  }

  .label-default {
    color: $gl-gray-light;
  }
}

// Table list
.table-list {
  display: table;
  width: 100%;

  .table-list-row {
    display: table-row;
  }

  .table-list-cell {
    display: table-cell;
    vertical-align: top;
    padding: 10px 16px;
    border-bottom: 1px solid $gray-darker;

    &.avatar-cell {
      width: 36px;
      padding-right: 0;

      img {
        margin-right: 0;
      }
    }
  }

  &.table-wide {
    .table-list-cell {
      &:last-of-type {
        padding-right: 0;
      }

      &:first-of-type {
        padding-left: 0;
      }
    }
  }
}

.panel > .content-list > li {
  padding: $gl-padding-top $gl-padding;
}

ul.controls {
  float: right;
  list-style: none;

  .btn {
    padding: 10px 14px;
  }

  > li {
    float: left;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    .author_link {
      display: inline-block;

      .avatar-inline {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
